:root {
    --left-width: 20% ;
    /* ширина левого блока (можно менять) */
    --blue: #0000FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    width: 1440px;
    height: 680px;
    flex-direction: row;
    position: relative;
}

.left-block {
    width: 41%;
    background-color: #0000FF;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}

.right-block {
    width: 59%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector {
    max-width: 80%;
    max-height: 80%;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.white{
    color: #FFFFFF;
}

.white-back{
    background-color: #FFFFFF;
}

.top-text {    
    position: absolute;
    width: 76px;
    height: 15px;
    right: 419px;
    top: 50px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 20.7739px;
    line-height: 26px;
    
    leading-trim: both;
    text-edge: cap;
    text-align: right;
    text-transform: uppercase;

    color: #FFFFFF;
}

.bottom-text {
    position: absolute;
    width: 123px;
    height: 41px;
    right: 371px;
    top: 589px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 20.7739px;
    line-height: 26px;

    leading-trim: both;
    text-edge: cap;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero-wrap {
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
    z-index: 5;
}

.hero-title {
    position: absolute;
    width: 614px;
    left: 413px;
    top: 295px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 91px;
    line-height: 164px;

    margin-left: 68px;
    z-index: 5;
    white-space: nowrap;
    letter-spacing: 2px;

    /* градиент на текст */
    background: linear-gradient(to right,
            #ffffff 0 var(--left-width),
            var(--blue) var(--left-width) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* финальная прозрачность цвета */
    -webkit-text-fill-color: transparent;
}

.mouse-format {
    position: absolute;
    width: 545.97px;
    height: 469.72px;
    left: 797px;
    top: 0px;
}

.bottom-right-text{
    position: absolute;
    width: 426px;
    height: 60px;
    left: 917px;
    top: 530px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: right;

    color: #000000;
}

.bottom-right-page-text{
    position: absolute;
    width: 157px;
    height: 30px;
    left: 1186.76px;
    top: 600px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: right;

    color: #0000FF;
}

.formats {
    position: absolute;
    width: 1440px;
    height: 680px;
    left: 0px;

    background: #FFFFFF;
}

.props{
    box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 680px;
    left: 0px;

    background: #FFFFFF;
    border: 1px solid #000000;
}

.footer{
    position: absolute;
    width: 1440px;
    height: 333px;
    left: 0px;
    top: 5440px;

    background: #FFFFFF;
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 318px;
    height: 88px;
    left: 98px;
    top: 123px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 120px;
    height: 78px;
    left: 660px;
    top: 131px;
}

.hse-lable{
    position: absolute;
    width: 295px;
    height: 122.52px;
    left: 1047px;
    top: 106px;
}


.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 52px;

    position: absolute;
    width: 1440px;
    height: 680px;
    left: calc(50% - 1440px/2);
}

.font-props{
    width: 557.19px;
    height: 46px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #0000FF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 52px;

    position: absolute;
    width: 557.19px;
    height: 554px;
    left: calc(50% - 557.19px/2 - 343.4px);
    top: 40px;
}

.story-lable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 218px;
    height: 78px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.story{
    width: 557.19px;
    height: 227px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    leading-trim: both;
    text-edge: cap;
    text-align: justify;

    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.mouse2{
    position: absolute;
    width: 150px;
    height: 75px;
    left: 434px;
    top: 43px;
}

.blue{
    background: #0000FF;
}

.auth{
    position: absolute;
    width: 463.46px;
    height: 602.01px;
    left: calc(50% - 463.46px/2 + 405px);
    bottom: 87.18px;

    transform: rotate(-105deg);
}

.font-author{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    row-gap: 0px;

    position: relative;
    width: 523.5px;
    height: 403.02px;
    left: 798px;
    top: 191px;
}

.mouse3{
    position: absolute;
    width: 148.5px;
    height: 58px;
    left: 1173px;
    top: 120px;
    z-index: 10;
}

.mouse6{    
    position: absolute;
    width: 144.5px;
    height: 146.69px;
    left: 580px;
    top: 193px;
}

.mouse7{
    position: absolute;
    width: 149.5px;
    height: 151.19px;
    left: 1px;
    top: 189px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.mouse8{
    position: absolute;
    width: 111.73px;
    height: 150px;
    left: calc(50% - 111.73px/2 - 0.13px);
    top: 468px;
}

.paper-props{
    position: absolute;
    width: 375px;
    height: 60px;
    left: calc(50% - 375px/2 - 434.5px);

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;

    color: #FFFFFF;
}

.feature{
    margin-top: auto;
    margin-left: auto;
}

.prop-top-group{
    position: absolute;
    width: 1235px;
    height: 234px;
    left: 98px;
    top: 145px;
}

.prop-bottom-group{
    position: absolute;
    width: 1137px;
    height: 155.03px;
    left: 131px;
    top: 379px;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 колонки */
    grid-template-rows: 1fr 1fr; /* 2 строки */
    width: 100%; /* чтобы не ехало позиционирование и размер item */
    height: 100%;
}


.item{
    position: relative;
}

.bordered{
    border-width: 1px 0px 1px 1px;
    border-style: dashed;
    border-color: #FFFFFF;
    border-top: none;
}

.blue-border{
    border-width: 1px 1px 1px 1px;
    border-color: #0000FF;
    border-style: solid;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 69px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.item-content h1{
    width: 524px;
    height: 14;

    text-align: justify;
    word-spacing: 241px;
}


.glif-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 588px;

    position: absolute;
    width: 1244px;
    height: 60px;
    left: 98px;
    top: 40px;
}

.glif-header p{
    width: 518px;
    height: 50px;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;

    /* main/black */
    color: #0B0B0B;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}


.table {
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    width: 1244px;
    height: 500px;
    left: 98px;
    top: 130px;
}

.lines {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    gap: 0;
    height: 100%;
    width: 100%;
}

.glyph {
    border: 1px solid #C3C3C3;
    width: calc(100% / 12);
    text-align: center;
    aspect-ratio: 1 / 1; /* Ключевое свойство для квадратов */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    transition: all 0.2s ease;
    margin: 0;
    border-collapse: collapse;

    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    leading-trim: both;
    text-edge: cap;

    color: #000000;

    box-sizing: border-box;
    flex-shrink: 0;
}


